.login-menu{
    display: flex;
    background-color: #000;
}

.login-menu li{
    list-style-type: none;
    margin-right: 1px;
    padding: 10px;
    background-color: orangered;
}

.login-menu a{
    text-decoration: none;
    color: #ffffff;
}

.login-layout__content .heading{
    color: orangered;
}